<form (ngSubmit)="saveCat()" class="cat-form">
  <h2>{{ cat ? 'Edit Cat' : 'Add a New Cat' }}</h2>

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" [(ngModel)]="catData.name" name="name"  type="text" required />
  </div>

  <div class="form-group">
    <label for="nickName">Nickname</label>
    <input id="nickName" [(ngModel)]="catData.nickName" name="nickName" type="text" required />
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input id="age" [(ngModel)]="catData.age" name="age" type="number" required />
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <input id="type" [(ngModel)]="catData.type" name="type"  type="text" required />
  </div>

  <div class="form-group emoji-checkbox-group">
    <input type="checkbox" id="isHappy" [(ngModel)]="catData.isCatHappy" name="isHappy" hidden />
    <label for="isHappy" class="emoji-label">
      <span class="emoji unchecked">😾</span>
      <span class="emoji checked">😺</span>
      <span class="emoji-text">Is Happy</span>
    </label>
  </div>
  

  <button type="submit" class="submit-btn">
    {{ cat ? 'Update Cat' : 'Add Cat' }}
  </button>
</form>
